body {
  font-family: "Raleway", Arial, sans-serif;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 400;
  color: #fff;
  background-color: #98d361;
}
.header {
  margin-top: 80px;
  margin-bottom: 100px;
  text-align: center;
}
.header__title {
  margin-bottom: 20px;
  font-size: 34px;
}
.header__text {
  font-weight: 300;
}
.main__item {
  width: 280px;
  margin: 0 auto;
  text-align: center;
}
.main__icon {
  margin-bottom: 60px;
}
.main__title {
  margin-bottom: 30px;
}
.main__text {
  font-weight: 300;
}